<div class="mx-auto px-4">
  <% if @booking_type.payment_required? %>
    <div
      data-controller="payment"
      data-payment-item-value="<%= @booking_type.id %>"
      data-payment-return-url-value="<%= root_url %>"
    >
      <h2 class="font-bold mb-6">Schedule your booking for <%= number_to_currency(@booking_type.price) %></h2>

      <div clas="mb-10">
        <h2 class="font-bold text-xl mb-3">Enter payment details</h2>

        <div id="payment-element" data-payment-target="element"></div>

        <div data-payment-target="message" class="hidden"></div>
      </div>

      <%= render 'form', booking: @booking %>
    </div>
  <% else %>
    <h2 class="p-6">Schedule your booking</h2>

    <%= render 'form', booking: @booking %>
  <% end %>
</div>