<link rel="stylesheet" href="devise.scss">
<div id="SignIn" class="container m-5 p-2 border w-25">
  <header>
    <h2>Log in</h2>
  </header>

  <div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-floating mb-3">
        
        <%= f.email_field :email, id: "floatingInput", autocomplete: "email", class: "form-control", placeholder: "Email" %>
        <label for="floatingInput">Email address</label>
        <!-- <p><%= f.label :email, class: "form-control" %></p> -->
      
      </div>


      <div class="field form-floating mb-2">
        <%= f.password_field :password, id: "floatingInput", autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
        <label for="floatingInput">Password</label>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field form-group mb-1 vertical-align-center">
          <p><%= f.check_box :remember_me %>
          <%= f.label :remember_me %></p>
        </div>
      <% end %>
    
      <%= f.submit "Log in", class: "actions btn btn-primary w-100" %>

    <% end %>
    <br>
    <%= render "devise/shared/links" %>
    
  </div>
</div>
<!--
<div class="container m-5">
  <header>
    <h2>Log in</h2>
  </header>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-floating mb-4 w-25">
      <%# <%= label_tag :email, "Email" %>  
      <%# <%= text_field_tag :email, "", autofocus: true, :class =>"form-control" %>
      
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>

      
    </div>

  <div class="form-floating mb-4 w-25">
    <%# <%= f.label :password, "Password" %> 
    <%# <%= f.password_field :password, :class =>"form-control" %> 
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password"> 
    <label for="floatingPassword">Password</label>
  </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group mb-2">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary w-25"%>
    </div>
  <% end %>
  <br><br>

  <%= render "devise/shared/links", class:"link-opacity-25" %>
</div>
-->